{% comment %} recebe: include.date (data), include.t (objeto de traduções) {% endcomment %}
{% assign day = include.date | date: '%d' %}
{% assign month_key = include.date | date: '%m' %}
{% assign year = include.date | date: '%Y' %}
{% assign weekday = include.date | date: '%A' %}

{% assign month_name = '' %}
{% if include.t and include.t.months and include.t.months[month_key] %}
    {% assign month_name = include.t.months[month_key] %}
{% else %}
    {% assign month_name = include.date | date: '%b' %}
{% endif %}

{% assign day_name = '' %}
{% if include.t and include.t.days and include.t.days[weekday] %}
    {% assign day_name = include.t.days[weekday] %}
{% else %}
    {% assign day_name = weekday %}
{% endif %}

{{ day_name }}, {{ day }} de {{ month_name }} de {{ year }}
