{% assign codigo = page.product_code | downcase %}
{% assign dados = site.data.products[codigo] %}

{% if dados %}
  <div class="tabs is-centered is-fullwidth is-toggle">
    <ul>
      <li data-target="descrp">
        <a>Descrição</a>
      </li>
      <li data-target="nfotec">
        <a>Info. Técnicas</a>
      </li>
    </ul>
  </div>

  <div class="info" id="tab-content">
    <div id="descrp">
      <br>
      {% if dados.description %}
        <p>{{ dados.description }}</p>
      {% else %}
        <p>Descrição não encontrada.</p>
      {% endif %}
    </div>
    <!-- -->
    <div id="nfotec">
      {% for secao in dados %}
        {% unless secao[0] == "description" %}
          <h4>{{ secao[0] | capitalize }}</h4>
          <table class="table">
            <tbody>
              {% for campo in secao[1] %}
                <tr>
                  <td>{{ campo[0] | capitalize }}</td>
                  <td>{{ campo[1] }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
{% else %}
  <p>Produto não encontrado.</p>
{% endif %}