---
---
$primary: #550a6e;
@import "main";

.container-imagens {
    display: flex; /* Coloca os itens (imagens) lado a lado */
    justify-content: space-between; /* Adiciona espaço entre as imagens */
    align-items: center; /* Alinha as imagens verticalmente ao centro */
    
}

.container-imagens img {
    width: 30%;
    max-width: 100%; /* Garante que as imagens não fiquem maiores que o contêiner */
    height: auto; /* Mantém a proporção original das imagens */
    flex: 1; /* Faz com que as imagens ocupem o mesmo espaço */
    margin: 0 10px; /* Adiciona margem entre as imagens */
}