---
---
$primary: rgb(0, 0, 0);
$secondary: rgb(125, 0, 150);
$bulma-body-background-color: rgb(18, 18, 18);
$body-background-color: rgb(18, 18, 18);
$background-color: rgb(18, 18, 18);
$success: rgb(66, 215, 66);
$warning: rgb(255, 51, 51);
$text: rgb(240, 240, 240);
$bulma-navbar-height: 5rem;
$footer-background-color: rgb(0, 0, 0);
@import "main";

.brand {
    max-height: 2rem;
    margin-right: 5px;
}

.index-imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.index-imagens img {
    display: block;
    width: 30%;
    max-width: 100%;
    height: auto;
    flex: 1 1 300px;
    border-radius: 8px;
    object-fit: contain;
}

.navbar-item {
    .navbar-link {
        color: rgb(255, 255, 255);
    }
}

.body {
    color: rgb(240, 240, 240);
}