---
---
$primary: rgb(0, 0, 0);
$secondary: rgb(125, 0, 150);
$body-background-color: rgb(18, 18, 18);
$background-color: rgb(18, 18, 18);
$success: rgb(66, 215, 66);
$warning: rgb(255, 51, 51);
$text: rgb(240, 240, 240);

$footer-background-color: rgb(0, 0, 0);

$navbar-height: 6rem;
$navbar-item-color: rgb(230, 230, 230);
$navbar-item-img-max-height: 3rem;

$card-background-color: rgb(25, 25, 25);
$card-radius: 1rem;
$card-shadow: none;


figure.header-logo {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure.header-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer-logo {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    width: 100;
    height: 100%;
    object-fit: contain;
}

@import "main";

.index-imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}