---
---
$primary: rgb(0, 0, 0);
$secondary: rgb(125, 0, 150);
$bulma-body-background-color: rgb(18, 18, 18);
$body-background-color: rgb(18, 18, 18);
$background-color: rgb(18, 18, 18);
$success: rgb(66, 215, 66);
$warning: rgb(255, 51, 51);
$text: rgb(240, 240, 240);
$bulma-navbar-height: 5rem;
$footer-background-color: rgb(0, 0, 0);

figure.header-logo {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure.header-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer-logo {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@import "main";

.index-imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}